body {
  font-family: Verdana;
  background-image: url(https://wallpapercave.com/wp/OS6Fgxs.jpg);
  background-position: center top;
  background-size: cover;
  margin: 0;
}

.name-title {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;  
}
.name-desc {
  margin-left: 300px;
  margin-right: 300px;
  padding: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.education-title {
  margin-left: 300px;
  margin-right: 300px;
}
.education {
  margin-left: 300px;
  margin-right: 300px;
}
.experience-title {
  margin-left: 300px;
  margin-right: 300px;
}
.experience {
  margin-left: 300px;
  margin-right: 300px;
}
