body {
  font-family: Cambria;
  background-image: url(https://wallpapercave.com/wp/OS6Fgxs.jpg);
  background-position: center top;
  background-size: cover;
  margin: 0;
  text-align: center;
}

.name-title {
  
}
.name-desc {
 padding: 10px;
 border: 2px solid black;
}
.education-title {
  margin: 50px;
}
.education {
  margin: 50px;
}
.experience-title {
  margin: 50px;
}
.experience {
  margin: 50px;
}
